<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} page</title>
  </head>
  <body>
    {% block content1 %}
    Welcome to the main page 
    <br>

    <form method="POST" action="/welcomePage">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <font color="red">{{ message }}</font><br>
        {% endfor %}
      {% endif %}
      {% endwith %}
      Username: <input type="text" name="user">
      <br>
      Password: <input type="text" name="password">
      <br>
      <input type="submit" name="form" value="submit">
    </form>
    {% endblock %}
  </body>
</html>
